//.logo
.streaming-box {
  &__header-container {
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
  }
}
